<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <% if @user.first_name.present? %>
      Bienvenue chez Saveurs Saisonnieres, <%= @user.first_name %> !
      <% else %>
        Bienvenue chez Saveurs Saisonnieres !
      <% end %>
    </h1>
    <p>
      Félicitations, tu viens de t'inscrire sur Saveurs Saisonnieres avec l'adresse e-mail suivante : <%= @user.email %>.
    </p>
    <p>
      Connecte-toi rapidement en utilisant le lien suivant : <%= @url %>
    </p>
    <p>
      Tu trouvereras des fruits et legumes frais et de proximité chez nous, nous mettons un point d'honneur au bio ! 
    </p>
    <p>
      A tres vite sur Saveurs Saisonnières ou au magasin ! 
    </p>
  </body>
</html>